@import '~/src/assets/styles/colors';
@import '~/src/assets/styles/vars';

.experiences {
    margin-bottom: 5.75rem;

    &__title {
        margin-bottom: 2.5rem;
    }

    &__resume {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 1rem;

        &__text {
            font-size: $m-fs-h4;
        }

        &__btn {
            font-size: $m-fs-h4;
            color: $pink;
            font-weight: 700;
            background-color: $dark-green;
            gap: 0.5rem;
        }
    }

    &__projects__title {
        margin-top: 4rem;
        margin-bottom: -2.5rem;
    }
}
