@import './assets/styles/vars';

* {
    box-sizing: border-box;
    font-family: $font-primary;
    font-size: $m-fs-body;
    font-weight: 400;
    margin: 0;
    padding: 0;
    background-color: rgb(252, 252, 252);
}

button {
    background-color: transparent;
    border: transparent;
    cursor: pointer;
}

// 👉 Responsive Size Setting
@mixin mobile {
    @media screen and (max-width: 480px) {
        @content;
    }
}

@mixin s-tablet {
    @media screen and (min-width: 480px) and (max-width: 767px) {
        @content;
    }
}

@mixin tablet {
    @media screen and (min-width: 767px) and (max-width: 1024px) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: 1024px) {
        @content;
    }
}

@mixin mobile-center {
    @include mobile {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @content;
    }
}
