@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

// 👉 Font family
$font-primary: 'Poppins', sans-serif;

// 👉 Font size
$fs-h1: 2rem; // 32px
$fs-h2: 1.5rem; // 24px
$fs-h3: 1.25rem; // 20px
$fs-h4: 1.125rem; // 18px
$fs-body: 1rem; // 16px
